<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      Animaux
    </ion-title>

    <ion-label slot="end" *ngIf="secondsLeft">
      Il te reste {{ secondsLeft }} secondes
    </ion-label>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let animal of animalList" (click)="guessAnimal(animal)">
      <ion-label>
        <h3>{{ animal.title }}</h3>
        <p> {{ animal.desc }} </p>
      </ion-label>
      <ion-avatar slot="start">
        <ion-img src="/assets/{{ animal.image }}"></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding">
    <ion-button expand="block" (click)="play()"
    [disabled]="chosenAnimal != null"
    [color]="chosenAnimal ? 'warning' : 'success'">
      JOUER 
    </ion-button>
  </ion-toolbar>
</ion-footer>
